.investment-code__block{
.investment-code__title {
  p {
    font-weight: normal;
    font-size: 13px;
    color: #828282;
    span {
      color: $color-dark;
      font-weight: 500;
    }
  }
}
.please{
    margin: 0;
    padding: 0;

    .please-input{
        margin: 43px 0 0;
        p{
            color: #BBBBBB;
        }

    }
}
}
.project-investment__about--cost{
    .loans-terms {
        margin-top: 10px;
    }
}