.please{
    max-width: 560px;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    .please-title a {
        font-weight: normal;
        font-size: 14px;
        color: $color-global;
        &:hover{
            text-decoration: underline;
        }
    }
    .please-phone{
        margin-top: 114px;
        span{
            display: block;
            font-weight: normal;
            font-size: 12px;
        }
        p{
            @include fontStyle(22px);
            color: $color-dark;
            margin-top: 9px;
        }
    }
    .please-input{
        max-width: 316px;
        width: 100%;
        margin: 43px auto 0 auto;
        p{
            font-weight: bold;
            font-size: 10px;
            color: #828282;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            margin-bottom: 7px;
            text-align: left;
        }
        input{
            width: 100%;
            height: 56px;
            border: 1px solid $color-light;
            border-radius: $border-radius;
            padding: 0 21px;
            color: $color-dark;
            font-weight: normal;
            font-size: 16px;
            &::placeholder {
                font-weight: normal;
                font-size: 17px;
                color: $color-light;
            }
        }
    }
    .please-progress{
        margin-top: 45px;
    }
    .please-progress__img{
        width: 80px;
        height: 80px;
        margin: auto;
        margin-bottom: 24px;
    }
    .please-progress__box{
        max-width: 400px;
        width: 100%;
        margin: auto;
        .please-progress__box--load{
            width: 100%;
            height: 4px;
            background: #F2F2F2;
            border-radius: 2px;
            overflow: hidden;
            span{
                display: block;
                height: 100%;
                border-radius: 2px;
                background-color: #6FCF97;
            }
        }
        .please-progress__box--info{
            margin-top: 7px;
            p{
                font-weight: normal;
                font-size: 12px;
                color: $color-dark;
            }
            span{
                font-weight: bold;
                font-size: 12px;
                color: $color-light;
            }
        }
    }
}


.steps-box__last{
    display: none;
}